# Serializing Expected Output Data:

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
cd /content/drive/MyDrive/FormulaAI

/content/drive/MyDrive/FormulaAI

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import json

In [5]:
data = pd.read_csv("weatherpreprocess.csv")

In [6]:
data.head()

   Unnamed: 0                TIMESTAMP  ...  M_RAIN_PERCENTAGE  M_WEATHER
0           0  1970-01-20 00:12:41.520  ...           1.147212          0
1           1  1970-01-20 00:12:41.520  ...           1.147212          0
2           2  1970-01-20 00:12:41.520  ...           1.147212          0
3           3  1970-01-20 00:12:41.520  ...           1.147212          0
4           4  1970-01-20 00:12:41.520  ...           1.147212          0

[5 rows x 23 columns]

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3572328 entries, 0 to 3572327
Data columns (total 23 columns):
 #   Column                                          Dtype
---  ------                                          -----
 0   Unnamed: 0                                      int64
 1   TIMESTAMP                                       object
 2   M_PIT_SPEED_LIMIT                               int64
 3   M_DYNAMIC_RACING_LINE                           float64
 4   M_DYNAMIC_RACING_LINE_TYPE                      int64
 5   M_PIT_STOP_REJOIN_POSITION                      int64
 6   M_PIT_ASSIST                                    int64
 7   M_SESSION_TIME                                  float64
 8   M_FORECAST_ACCURACY                             int64
 9   M_AIR_TEMPERATURE                               int64
 10  M_NUM_WEATHER_FORECAST_SAMPLES                  int64
 11  M_AIR_TEMPERATURE.1                             int64
 12  M_SESSION_UID                                   float64
 13  M_PACKET_ID                                     int64
 14  M_WEATHER_FORECAST_SAMPLES_M_SESSION_TYPE       float64
 15  M_TIME_OFFSET                                   float64
 16  M_WEATHER_FORECAST_SAMPLES_M_WEATHER            float64
 17  M_WEATHER_FORECAST_SAMPLES_M_TRACK_TEMPERATURE  float64
 18  M_TRACK_TEMPERATURE_CHANGE                      float64
 19  M_WEATHER_FORECAST_SAMPLES_M_AIR_TEMPERATURE    float64
 20  M_AIR_TEMPERATURE_CHANGE                        float64
 21  M_RAIN_PERCENTAGE                               float64
 22  M_WEATHER                                       int64
dtypes: float64(11), int64(11), object(1)
memory usage: 626.9+ MB

In [8]:
df = data
df['TIMESTAMP'] = pd.to_datetime(df['TIMESTAMP'])

In [9]:
df.set_index('TIMESTAMP', inplace=True)

In [10]:
df = df.sort_index()
df.head()

                               Unnamed: 0  ...  M_WEATHER
TIMESTAMP                                  ...
1970-01-19 23:56:30.720396566     3119350  ...          0
1970-01-19 23:56:30.720396566     3119401  ...          0
1970-01-19 23:56:30.720396566     3119400  ...          0
1970-01-19 23:56:30.720396566     3119399  ...          0
1970-01-19 23:56:30.720396566     3119398  ...          0

[5 rows x 22 columns]

In [22]:
# Resample and Aggregate appropriately.
x= df.resample('5T').agg({'M_WEATHER': np.median, 'M_RAIN_PERCENTAGE': np.mean})

In [80]:
# x = df.resample('5T')
# x = x.last()[['M_RAIN_PERCENTAGE','M_WEATHER']]

In [23]:
display(x)

                     M_WEATHER  M_RAIN_PERCENTAGE
TIMESTAMP
1970-01-19 23:55:00        1.0           0.741453
1970-01-20 00:00:00        0.0           2.696494
1970-01-20 00:05:00        1.0           1.503150
1970-01-20 00:10:00        0.0           0.726525
1970-01-20 00:15:00        1.0           2.027357
1970-01-20 00:20:00        0.0           0.508378
1970-01-20 00:25:00        0.0           0.312876
1970-01-20 00:30:00        0.0           0.312876
1970-01-20 00:35:00        5.0           0.312876
1970-01-20 00:40:00        0.0           0.312876

In [26]:
fifth = {
  '5': { 
    'type': int(x['M_WEATHER'].iloc[0]),
    'rain_percentage': x['M_RAIN_PERCENTAGE'].iloc[0]
    },
  '10': { 
    'type': int(x['M_WEATHER'].iloc[1]),
    'rain_percentage': x['M_RAIN_PERCENTAGE'].iloc[1]
    },
  '15': { 
    'type': int(x['M_WEATHER'].iloc[2]),
    'rain_percentage': x['M_RAIN_PERCENTAGE'].iloc[2]
    },
  '30': { 
    'type': int(x['M_WEATHER'].iloc[5]),
    'rain_percentage': x['M_RAIN_PERCENTAGE'].iloc[5]
    },
  '50': { 
    'type': int(x['M_WEATHER'].iloc[-1]),
    'rain_percentage': int(x['M_RAIN_PERCENTAGE'].iloc[-1])
    },
  }

fifth

# app_json = json.dumps(fifth)
# print(app_json)

{'10': {'rain_percentage': 2.696493585121709, 'type': 0},
 '15': {'rain_percentage': 1.503149769473891, 'type': 1},
 '30': {'rain_percentage': 0.5083782649190197, 'type': 0},
 '5': {'rain_percentage': 0.7414525859518286, 'type': 1},
 '50': {'rain_percentage': 0, 'type': 0}}